Source: node-react
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Section: javascript
Priority: optional
Build-Depends:
 debhelper-compat (= 13)
 , nodejs
 , rollup
 , node-babel7
 , node-browser-resolve
# possibly a slip by upstream in scripts/rollup/build.js +22 (using babel 6)
 , node-gzip-size
 , node-cli-table
 , node-fbjs <!nocheck>
 , node-filesize
 , node-loose-envify <!nocheck>
 , node-minimist
 , node-mkdirp (>= 1)
 , node-ncp
 , node-object-assign <!nocheck>
 , node-prop-types
 , node-rimraf
 , node-rollup-plugin-babel (>= 5.2~)
 , node-rollup-plugin-commonjs (>= 15~)
 , node-rollup-plugin-replace
 , node-rollup-plugin-node-resolve (>= 9~)
 , node-rollup-plugin-terser
# for embedded targz -> tar-fs
 , node-chownr
 , node-pump
 , node-tar-stream
# for npm pack command
 , npm
 , dh-sequence-nodejs
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-react
Vcs-Git: https://salsa.debian.org/js-team/node-react.git
Homepage: https://reactjs.org/
Rules-Requires-Root: no

Package: node-react
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-fbjs
 , node-loose-envify
 , node-object-assign (>= 4.1.1)
 , node-prop-types
Provides: ${nodejs:Provides}
Description: Node.js library for building user interfaces
 ReactJS is a library for building JavaScript user interfaces.
 .
 Some features of React:
  * Declarative: React makes it painless to create interactive UIs. Design
    simple views for each state in your application, and React will efficiently
    update and render just the right components when your data changes.
    Declarative views make your code more predictable, simpler to understand,
    and easier to debug.
  * Component-Based: Build encapsulated components that manage their own state,
    then compose them to make complex UIs. Since component logic is written in
    JavaScript instead of templates, you can easily pass rich data through your
    app and keep state out of the DOM.
  * Learn Once, Write Anywhere: it doesn't make assumptions about the rest of
    the technology stack, so you can develop new features in React without
    rewriting existing code. React can also render on the server using Node and
    power mobile apps using React Native.
 .
 This package installs the ReactJS library for Node.js.
